@font-face {
    font-family: lineal;
    src: url(Lineal-Bold.ttf);
}

*{
    color: black;
    font-family: lineal;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 80vw;
    width: 100%;
    background-color: #e3e3e3;
    padding: 4rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2.5rem;
}

h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3rem;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: flex-start;
    margin-left: auto;
    margin-right: 9vw;
}


.links p {
    margin-bottom: 2rem;
    align-self: flex-end;
}

.links a {
    color: black;
    text-decoration: underline;
    font-size: 2rem;
}


@media (max-width: 1275px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .links a {
        font-size: 1.8rem;
    }
}

@media (max-width: 760px) {
    .container {
        padding: 3rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    .links a {
        font-size: 1.5rem;
    }
}

@media (max-width: 421px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .links a {
        font-size: 0.9rem;
    }
}